<h1>Fhin</h1>

<div class="about">
  <div class="bio">
    <h2>Biography</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id voluptatum
      ipsam nihil deleniti beatae cupiditate saepe voluptatibus similique quia
      exercitationem! Magni fugiat est eos dicta temporibus cupiditate dolorem
      nam natus.
    </p>
  </div>

  <img
    src="https://www.clique.tv/wp-content/uploads/2017/10/home-clique-tc-qui-es-tu-fhin.jpg"
    alt=""
  />

  <div class="inspi">
    <h2>Inspirations</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia aliquam
      aperiam, praesentium ut deleniti deserunt eveniet, adipisci facere dolorum
      nam, voluptates magni! Nostrum fugiat quaerat esse? Quia necessitatibus
      odio sit.</p>
  </div>
</div>