<h1>Gallery</h1>

<div id="gallery">
  <img src="/images/fhin1.jpeg" alt="picture of Fhin" />
  <img src="/images/fhin2.jpeg" alt="picture of Fhin" />
  <img src="/images/fhin3.jpeg" alt="picture of Fhin" />
</div>