<h1>Works</h1>

<div class="works">
  <div class="paint">
    <h2>Paintings</h2>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Temporibus
      veritatis eius dolorum ipsam voluptatibus ut esse? Expedita voluptatem
      dicta error deleniti delectus, incidunt cumque aspernatur. Vitae dolores
      inventore voluptatem sequi.
    </p>
  </div>
  <img
    src="https://is2-ssl.mzstatic.com/image/thumb/Music127/v4/cd/41/87/cd41870e-708e-94f4-f3c2-a474aef3edfa/cover.jpg/1200x1200bf-60.jpg"
    alt=""
  />
  <div class="music">
    <h2>Music</h2>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cupiditate
      distinctio unde sint quas repellat perferendis a assumenda aut corporis
      iste odit quos necessitatibus, facilis sed ipsum iusto ab? Autem, iure.
    </p>
  </div>
</div>